*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#fff;
    width:100%;
    height:100vh;
    overflow:hidden;
}

/* Menu */

.menu{
    position:absolute;
    top:15px;
    left:20px;
    font-size:32px;
    color:#9d9d9d;
    cursor:pointer;
}

/* Título */

h1{
    text-align:center;
    color:#23449b;
    font-size:58px;
    margin-top:10px;
    font-weight:700;
}

/* Conteúdo */

.container{
    width:85%;
    margin:50px auto;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:130px;
}

/* Foto */

.foto{
    width:280px;
    display:flex;
    justify-content:center;
}

.perfil{
    width:170px;
    height:170px;
    border-radius:50%;
    background:#efebe6;
    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;
}

.perfil i.fa-user{
    font-size:110px;
    color:#c5bfb9;
}

.camera{
    position:absolute;
    bottom:5px;
    right:15px;

    width:40px;
    height:40px;
    background:#fff;
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    border:2px solid #000;
}

.camera i{
    color:#000;
    font-size:20px;
}

/* Formulário */

.formulario{
    width:350px;
    display:flex;
    flex-direction:column;
    gap:12px;
}

.formulario input,
.formulario select{
    height:50px;
    border:none;
    background:#d9d9d9;
    border-radius:15px;
    padding:0 15px;
    font-size:20px;
    color:#23449b;
    font-weight:bold;
    outline:none;
}

.formulario input::placeholder{
    color:#23449b;
}

.formulario select{
    cursor:pointer;
}

/* Botão */

button{
    width:185px;
    height:48px;
    margin:18px auto 0;
    border:none;
    border-radius:16px;
    background:#23449b;
    color:#fff;
    font-size:26px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#1a3478;
}

/* Logo */

.logo{
    position:absolute;
    right:25px;
    bottom:20px;
    width:55px;
}

/* Responsividade */

@media(max-width:900px){

    body{
        overflow:auto;
    }

    h1{
        font-size:40px;
    }

    .container{
        flex-direction:column;
        gap:40px;
    }

    .formulario{
        width:100%;
        max-width:350px;
    }

}