body{
    background:#f5f5f5;
    font-family:Arial, Helvetica, sans-serif;
}

/* Cor padrão */

.text-primary{
    color:#1f3f99 !important;
}

/* Botão */

.btn-primary{
    background:#1f3f99;
    border-color:#1f3f99;
}

.btn-primary:hover{
    background:#17327d;
    border-color:#17327d;
}

/* Campos */

.form-control,
.form-select{

    background:#e9ecef !important;

}

.form-control:focus,
.form-select:focus{

    box-shadow:none;
    border-color:#1f3f99;

}

/* Avatar */

.avatar{

    width:170px;
    height:170px;

    background:#efebe6;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

}

.avatar i{

    font-size:90px;
    color:#c7c2bc;

}

/* Campo de upload */

input[type="file"]{

    cursor:pointer;

}

/* Logo */

.logo{

    width:55px;

}