.text-primary{
    color:#1E3A8A !important;
}

.btn-primary{
    background:#1f3f99;
    border-color:#1f3f99;
}

.btn-primary:hover{
    background:#18327d;
    border-color:#18327d;
}

.input-group-text,
.form-control{
    background:#e9ecef !important;
}

.input-group-text{
    border-top-left-radius:18px;
    border-bottom-left-radius:18px;
}

.form-control{
    border-top-right-radius:18px;
    border-bottom-right-radius:18px;
}

.form-control:focus{
    box-shadow:none;
}

.logo{
    width:55px;
}